-#=link_to "#{@beta.name}", beta_path(@beta), class: 'btn'

%p
  %b Name:
  = @list.name

%p
  %b Mailman:
  = link_to (@list.admin_link) do
    =@list.admin_link

%p
  %b Subscribers:
  = @list.subscriptions.count

-#
  = "#{@users.count} total, #{pluralize(@users.admins.count, 'admin')}, "
  = "#{pluralize(@users.employees.count, 'employee')}, "
  = "#{pluralize(@users.testers.count, 'tester')}"

%div{ class: 'btn-group'}
  = if @current_user.admin?
    = link_to 'Refresh', list_refresh_path(@list),  class: 'btn btn-danger' 
    - if @list.beta
      = link_to(beta_add_list_subscribers_path(Beta.find(1), :list_id => 6), class: 'btn btn-danger' ) do
        = "Add subscribers to #{@list.beta.name}"
    = link_to 'Edit', edit_list_path(@list),  class: 'btn btn-info' 
  = if @current_user.employee?
    = link_to 'Show subscribers', list_users_path(@list), class: 'btn btn-info' 
-#
    = link_to 'Add subscriber', list_add_select_users_path,  class: 'btn btn-info' 

