%h4 Betas with downloads:

%ul
  - @betas_with_downloads.each do |b|
    %li
      %p
        %h4= link_to b[:beta].name, beta_path(b[:beta])

    %p  
      -# External users without downloads
      - if b[:ext_users_without_downloads].count == 0
        %b= "#{b[:ext_users_without_downloads].count} external users without downloads" 
      -else
        %font(color="FF0000")
          %b= "#{b[:ext_users_without_downloads].count} external users without downloads" 
          <input id="toggle-dldetails-#{b[:beta].id}" type="button" value="Details" />
        %div{:id => "dldetails-#{b[:beta].id}"}
          %ul
            - b[:ext_users_without_downloads].each do |u|
              %li
                =link_to u.full_name, edit_user_path(u)
                = "- #{u.email}"
                - if !b[:ext_users_without_list].include? u
                  %font(color="FF0000")
                    Warning: already subscribed to list!
        :javascript
          $(document).ready(function() {
            $("#dldetails-#{b[:beta].id}").hide();
            $("#toggle-dldetails-#{b[:beta].id}").click(function() {
              $("#dldetails-#{b[:beta].id}").toggle("normal");
            });
          });

    %p  
      -# External users without support requested
      - if b[:ext_users_with_downloads_nosupport].count == 0
        %b= "#{b[:ext_users_with_downloads_nosupport].count} external users with downloads, but missing support" 
      - else
        %font(color="FF0000")
          %b= "#{b[:ext_users_with_downloads_nosupport].count} external users with downloads, but missing support" 
        <input id="toggle-support-details-#{b[:beta].id}" type="button" value="Details" />
        %div{:id => "support-details-#{b[:beta].id}"}
          %ul
            - b[:ext_users_with_downloads_nosupport].each do |u|
              %li
                =link_to u.full_name, edit_user_path(u)
                = "- #{u.email}"
        :javascript
          $(document).ready(function() {
            $("#support-details-#{b[:beta].id}").hide();
            $("#toggle-support-details-#{b[:beta].id}").click(function() {
              $("#support-details-#{b[:beta].id}").toggle("normal");
            });
          });

    %p
      -# External users without mailing list subscription
      - if b[:ext_users_without_list].count == 0 
        %b= "#{b[:ext_users_without_list].count} external users without list subscription" 
      - else
        %font(color="FF0000")
          %b= "#{b[:ext_users_without_list].count} external users without list subscription" 
        <input id="toggle-listdetails-#{b[:beta].id}" type="button" value="Details" />
        %div{:id => "listdetails-#{b[:beta].id}"}
          %ul
            - b[:ext_users_without_list].each do |u|
              %li
                =link_to u.full_name, edit_user_path(u)
                = "- #{u.email}"
        :javascript
          $(document).ready(function() {
            $("#listdetails-#{b[:beta].id}").hide();
            $("#toggle-listdetails-#{b[:beta].id}").click(function() {
              $("#listdetails-#{b[:beta].id}").toggle("normal");
            });
          });

    %p
      -# Internal users without mailing list subscription
      - if b[:int_users_without_list].count == 0
        %b= "#{b[:int_users_without_list].count} internal users without list subscription" 
      - else
        %font(color="FF0000")
          %b= "#{b[:int_users_without_list].count} internal users without list subscription" 
        <input id="toggle-int-listdetails-#{b[:beta].id}" type="button" value="Details" />
        %div{:id => "int-listdetails-#{b[:beta].id}"}
          %ul
            - b[:int_users_without_list].each do |u|
              %li
                =link_to u.full_name, edit_user_path(u)
                = "- #{u.email}"
        :javascript
          $(document).ready(function() {
            $("#int-listdetails-#{b[:beta].id}").hide();
            $("#toggle-int-listdetails-#{b[:beta].id}").click(function() {
              $("#int-listdetails-#{b[:beta].id}").toggle("normal");
            });
          });
%br
%br
%p
  =link_to "Back to admin dashboard", admin_path, class: 'btn'

