%h4 Betas with downloads:

%ul
  - @betas_with_downloads.each do |b|
    %li
      %p
        %h4= link_to b[:beta].name, beta_path(b[:beta])
    %p
      %b External users without downloads: 
      - if b[:ext_users_without_downloads].count == 0
        None
      - else
        %ul
          - b[:ext_users_without_downloads].each do |u|
            %li
              =link_to u.full_name, edit_user_path(u)
              = "- #{u.email}"
              - if !b[:ext_users_without_list].include? u
                %font(color="FF0000")
                  Warning: already subscribed to list!
    %p
      %b External users without list subscription: 
      - if b[:ext_users_without_list].count ==0 
        None
      -else
        %ul
          - b[:ext_users_without_list].each do |u|
            %li
              =link_to u.full_name, edit_user_path(u)
              = "- #{u.email}"

    %p
      %b Internal users without list subscription: 
      - if b[:int_users_without_list].count == 0
        None
      - else
        %ul
          - b[:int_users_without_list].each do |u|
            %li
              =link_to u.full_name, edit_user_path(u)
              = "- #{u.email}"
%br
%br
%p
  =link_to "Back to admin dashboard", admin_path, class: 'btn'
