%h4 Updated internal mailing lists:

%ul
- @betas_with_lists.each do |b|
  %li
    = link_to b[:beta].name, beta_path(b[:beta])
    - if b[:created].count > 0
      %p 
        Created:
        %ul
          - b[:created].each do |u|
            %li= link_to( u.logname, edit_user_path(u))
    - if b[:added_to_list].count > 0
      %p 
        Added to list:
        %ul
          - b[:added_to_list].each do |u|
            %li= link_to( u.logname, edit_user_path(u))
    - if b[:dropped_from_list].count > 0
      %p
        Dropped:
        %ul
          - b[:dropped_from_list].each do |u|
            %li= link_to( u.logname, edit_user_path(u))
    - if b[:added_to_beta].count > 0
      %p
        Added to beta:
        %ul
          - b[:added_to_beta].each do |u|
            %li= link_to( u.logname, edit_user_path(u))
%br
%br
%p
  =link_to "Back to admin dashboard", admin_path, class: 'btn'
