%h2 Admin Dashboard
%hr
%h3= link_to "#{User.count} Users", admin_users_path
%h3= link_to "#{Beta.count} Betas", admin_betas_path
%h3= link_to "#{Company.count} Companies", admin_companies_path
%h3= link_to "#{List.count} Lists", lists_path

