%h2 Admin Dashboard
%hr
%h4= "#{User.count} Users"
%ul
  %li= link_to "List users", admin_users_path
  %li= link_to "Find duplicate emails", admin_duplicate_emails_path
  %li= link_to "Update employee roles", admin_update_roles_path

%h4= link_to "#{Beta.count} Betas", admin_betas_path
%ul
  %li= link_to "Sync Novell downloads", admin_sync_downloads_path

%h4= link_to "#{Company.count} Companies", admin_companies_path
%h4= link_to "#{List.count} Lists", lists_path
%h4= link_to "#{Group.count} Groups", admin_groups_path
%h4= link_to "#{Milestone.count} Milestones", admin_milestones_path

