= javascript_include_tag "bootstrap-tab.js"

- if @current_user.admin? 
  %p
    = link_to('View diary', admin_diary_user_path(@user),  class: 'btn btn-info btn-mini' )
    = link_to('Delete user', user_path(@user), :method => :delete, :data => { :confirm => 'Are you sure?' },  class: 'btn btn-danger btn-mini' )

.border
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    %ul.nav.nav-tabs{ :id => 'myTab'}
      %li.active 
        %a{"data-toggle" => "tab", :href => "#general"}
          User
      %li
        %a{"data-toggle" => "tab", :href => "#address"}
          Address

    .tab-content#myTabContent
      %div{:class => 'tab-pane active', :id => 'general'}
        %table{width: "100%"}
          %tr
            %th{width: "10%"}
            %th{width: "40%"}
            %th{width: "10%"}
            %th{width: "40%"}
          %tr
            %td.right.bold.top
              Last name
            %td
              = f.text_field :last_name

            %td.right.bold.top
              Login name
            %td
              = f.text_field 'login_name'

          %tr
            %td.right.bold.top
              First name
            %td
              = f.text_field :first_name
            - if @current_user.admin?
              %td.right.bold.top(rowspan = "3")
                Note
              %td.top(rowspan = "6")
                = f.text_area(:note, cols: 80, rows: 5)
          %tr
            %td.right.bold.top
              Title
            %td
              = f.text_field :title
          %tr
            .field
              %td.right.bold.top
                Email
              %td
                = f.text_field :email
          %tr
            .field
              %td.right.bold.top
                alt. Email
              %td
                = f.text_field :alt_email
          %tr
            %td.right.bold.top
              Company
            %td.middle
              = collection_select(:user, :company_id, Company.order('name ASC'), :id, :name, prompt: true, width: "100%" )
            %td.top
              = link_to 'Add', new_company_path, class: 'btn btn-mini'  


      %div{:class => 'tab-pane', :id => 'address'}
        - if @user.address
          %table{width: "100%"}
            %tr
              %th{width: "10%"}
              %th{width: "40%"}
              %th{width: "10%"}
              %th{width: "40%"}
            = f.fields_for :address do |af|
              %tr
                %td.right.top.bold Telephone
                %td= af.text_field :phone

                %td.right.top.bold City
                %td= af.text_field :city
              %tr
                %td.right.top.bold Street Address
                %td= af.text_field :address1
              
                %td.right.top.bold Zip/Postal code
                %td= af.text_field :zip
              %tr
                %td.right.top.bold Adress 2
                %td= af.text_field :address2

                %td.right.top.bold Country
                %td= af.text_field :country
              %tr
                %td.right.top.bold Adress 3
                %td= af.text_field :address3

                %td.right.top.bold State/Province
                %td= af.text_field :state
        - else
          %tr
            %td.right.top.bold Address
          %td
            = link_to('Add address', user_add_address_path(@user), class: 'btn btn-mini btn-mini' ) 

    .actions
      = f.submit 'Save', class: 'btn btn-success btn-mini'

.border
  %table{width: "100%"}
    %tr
      %th{width: "10%"}
      %th{width: "40%"}
      %th{width: "10%"}
      %th{width: "40%"}

    %tr
      %td.right.bold.top
        User ID
      %td= @user.id
    %tr
      %td.right.top.bold Roles
      %td
        %table
          - @user.roles.each do |role|
            %tr
              %td=role.name

    %tr
      %td.right.top.bold Lists
      %td(colspan="3")
        - if @user.lists.empty?
          None
        - else
          - @user.lists.each do |list|
            =link_to(list.name, list_path(list) )
            =link_to(list_unsubscribe_user_path(list, user_id: @user) ) do
              %i.icon-trash
            - if list != @user.lists.last
              ,
        - if @current_user.admin? && !@available_lists.empty?
          - if !@user.id
            n.a.
          - else
            %tr
              %td
              %td
                .btn-group
                  %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                    Add list subscription
                    %b.caret
                  %ul.dropdown-menu
                    - @available_lists.each do |list|
                      %li= link_to list.name, list_subscribe_user_path(list, user_id: @user.id)

    %tr 
      %td.right.top.bold Betas
      %td(colspan="3")
        - if @user.participations.count > 0
          = render 'participations'
        - if @current_user.admin?
          %table
            %tr
              %td
              %td
                - if !@available_betas.empty?
                  %tr
                    %td 
                      .btn-group
                        %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                          Add available beta
                          %b.caret
                        %ul.dropdown-menu
                          - @available_betas.each do |beta|
                            %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta), id: "add_beta_#{beta.id}", remote: true

                - if !@available_finished_betas.empty?
                  %tr
                    %td 
                      .btn-group
                        %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                          Add finished beta 
                          %b.caret
                        %ul.dropdown-menu
                          - @available_finished_betas.each do |beta|
                            %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta), id: "add_beta_#{beta.id}", remote: true


    %tr
      %td.right.top.bold Groups
      %td
        %table
          - @user.groups.each do |group|
            %tr
              %td
                =link_to(group.name, admin_group_path(group) )
                =link_to(remove_user_admin_group_path(group, user_id: @user) ) do
                  %i.icon-trash
          - if @current_user.admin? && !@available_groups.empty?
            - if !@user.id
              n.a.
            - else
              %tr
                %td
                  .btn-group
                    %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                      Add to group 
                      %b.caret
                    %ul.dropdown-menu
                      - @available_groups.each do |group|
                        %li= link_to group.name, add_user_admin_group_path(group, user_id: @user.id)

    %tr
      %td.right.top.bold Accounts
      %td(colspan = 3)
        %table{border: 0}
          -@user.accounts.each do |account|
            %tr
              %td=link_to account.uid


:javascript
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

