= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td.right
        = f.label :last_name 
      %td
        = f.text_field :last_name
    %tr
      %td.right
        = f.label :first_name
      %td
        = f.text_field :first_name
    %tr
      .field
        %td.right= f.label :email
        %td= f.text_field :email
    %tr
      .field
        %td.right= f.label 'login_name'
        %td= f.text_field 'login_name'
    %tr
      %td.right Street Address
    %tr
      %td.right Adress 2
    %tr
      %td.right Adress 3
    %tr
      %td.right City
    %tr
      %td.right Zip/Postal code
    %tr
      %td.right Country
    %tr
      %td.right State/Province
    %tr
      %td.right Telephone
  -#.field
    = f.label :uid
    = f.text_field :uid
  .actions
    = f.submit 'Save'
