= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td.right.bold.top
        Last name
      %td
        = f.text_field :last_name

        %td.right.bold.top
          Login name
        %td= f.text_field 'login_name'

    %tr
      %td.right.bold.top
        First name
      %td
        = f.text_field :first_name
      - if @current_user.admin?
        %td.right.bold.top(rowspan = "6")
          Note
        %td.top(rowspan = "6")= f.text_area(:note, cols: 80, rows: 5)
    %tr
      %td.right.bold.top
        Title
      %td
        = f.text_field :title
    %tr
      .field
        %td.right.bold.top
          Email
        %td= f.text_field :email
    %tr
      .field
        %td.right.bold.top
          alt. Email
        %td= f.text_field :alt_email
    %tr
      %td.right.bold.top
        Company
      %td
        %table
          %tr
            %td
              = collection_select(:user, :company_id, Company.order('name ASC'), :id, :name, prompt: true )
          %tr
            %td= link_to 'Add company', new_company_path, class: 'btn btn-mini'  

    %tr
      %td.right.bold.top
        User ID
      %td= @user.id
    %tr
      %td.right.top.bold Roles
      %td
        %table
          - @user.roles.each do |role|
            %tr
              %td=role.name

    %tr
      %td.right.top.bold Lists
      %td
        %table
          - @user.lists.each do |list|
            %tr
              %td
                =link_to(list.name, list_path(list) )
                =link_to(list_unsubscribe_user_path(list, user_id: @user) ) do
                  %i.icon-trash
          - if @current_user.admin? && !@available_lists.empty?
            - if !@user.id
              n.a.
            - else
              %tr
                %td
                  .btn-group
                    %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                      Add list subscription
                      %b.caret
                    %ul.dropdown-menu
                      - @available_lists.each do |list|
                        %li= link_to list.name, list_subscribe_user_path(list, user_id: @user.id)

    %tr 
      %td.right.top.bold Betas
      %td(colspan="3")
        - if @user.participations.count > 0
          %table(border="1")
            %tr
              %th Name
              %th List
              %th Downloads
              %th Support
              %th Note ID
              %th Note
              %th Action

            - @user.participations.each do |p|
              %tr
                %td.left
                  = link_to p.beta.name, beta_path(p.beta)
                %td.center
                  -# List subscription
                  - if p.beta.list
                    - if p.beta.list.users.include?(@user)
                      subscribed
                    - else
                      %font(color="FF0000")
                        missing subscription
                  - else
                    n.a. 
                %td.center
                  -# Download
                  - if p.download_status =~/missing/ 
                    - if !@user.employee? 
                      %font(color="FF0000")
                        = p.download_status
                        = link_to "Add", 'https://www.novell.com/beta/admin/GetAddCustomer.do?id=' + p.beta.novell_id, class: 'btn btn-small'
                    - else
                      = p.download_status
                      = link_to "Add", 'https://www.novell.com/beta/admin/GetAddCustomer.do?id=' + p.beta.novell_id, class: 'btn btn-small'
                  -else
                    = p.download_status
                %td.center
                  -# Support
                  - if !p.support_req 
                    - if !@user.employee?
                      %font(color="FF0000")
                        missing
                    - else
                      missing
                  -else
                    requested
                %td.center=p.id
                %td
                  = link_to(user_edit_participation_path(@user, participation_id: p)) do
                    =p.note
                %td
                  = link_to(user_remove_beta_path(@user, beta_id: p.beta) ) do
                    %i.icon-trash
                  = link_to(user_edit_participation_path(@user, participation_id: p)) do
                    %i.icon-pencil


        - if @current_user.admin?
          %table
            %tr
              %td
              %td
                - if !@available_betas.empty?
                  %tr
                    %td 
                      .btn-group
                        %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                          Add available beta
                          %b.caret
                        %ul.dropdown-menu
                          - @available_betas.each do |beta|
                            %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta)

                - if !@available_finished_betas.empty?
                  %tr
                    %td 
                      .btn-group
                        %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                          Add finished beta 
                          %b.caret
                        %ul.dropdown-menu
                          - @available_finished_betas.each do |beta|
                            %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta)

    %tr
      %td.right.top.bold Groups
      %td
        %table
          - @user.groups.each do |group|
            %tr
              %td
                =link_to(group.name, admin_group_path(group) )
                =link_to(remove_user_admin_group_path(group, user_id: @user) ) do
                  %i.icon-trash
          - if @current_user.admin? && !@available_groups.empty?
            - if !@user.id
              n.a.
            - else
              %tr
                %td
                  .btn-group
                    %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                      Add to group 
                      %b.caret
                    %ul.dropdown-menu
                      - @available_groups.each do |group|
                        %li= link_to group.name, add_user_admin_group_path(group, user_id: @user.id)

    %tr
      %td.right.top.bold Accounts
      %td
        %table{:border => 0}
          -@user.accounts.each do |account|
            %tr
              %td=link_to account.uid


    - if @user.address
      = f.fields_for :address do |af|
        %tr
          %td.right.top.bold Telephone
          %td= af.text_field :phone

          %td.right.top.bold City
          %td= af.text_field :city
        %tr
          %td.right.top.bold Street Address
          %td= af.text_field :address1
        
          %td.right.top.bold Zip/Postal code
          %td= af.text_field :zip
        %tr
          %td.right.top.bold Adress 2
          %td= af.text_field :address2

          %td.right.top.bold Country
          %td= af.text_field :country
        %tr
          %td.right.top.bold Adress 3
          %td= af.text_field :address3

          %td.right.top.bold State/Province
          %td= af.text_field :state
    - else
      %tr
        %td.right.top.bold Address
        %td
          = link_to('Add address', user_add_address_path(@user), class: 'btn btn-mini btn-small' ) 
  .actions
    = f.submit 'Save', class: 'btn btn-success btn-small'


- if @current_user.admin? 
  = link_to('Delete user', user_path(@user), :method => :delete, :data => { :confirm => 'Are you sure?' },  class: 'btn btn-danger btn-small' )
  
