= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td.right.bold.top
        Last name
      %td
        = f.text_field :last_name
    %tr
      %td.right.bold.top
        First name
      %td
        = f.text_field :first_name
    %tr
      .field
        %td.right.bold.top
          Email
        %td= f.text_field :email
    %tr
      .field
        %td.right.bold.top
          Login name
        %td= f.text_field 'login_name'
    %tr
      %td.right.bold.top
        User ID
      %td= @user.id
    %tr
      %td.right.top.bold Roles
      %td
        %table
          - @user.roles.each do |role|
            %tr
              %td=role.name

    %tr
      %td.right.top.bold Lists
      %td
        %table
          - @user.lists.each do |list|
            %tr
              %td=link_to(list.name, list_path(list) )

    - if @current_user.admin?
      %tr 
        %td.right.top.bold Betas
        %td
          %table
            - @user.betas.each do |beta|
              %tr
                %td
                  =link_to(beta.name,beta_path(beta) )
                  =link_to(user_remove_beta_path(@user, beta_id: beta) ) do
                    %i.icon-trash
            - if !@available_betas.empty?
              %tr
                %td 
                  .btn-group
                    %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                      Add subscribers to
                      %b.caret
                    %ul.dropdown-menu
                      - @available_betas.each do |beta|
                        %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta)

            - if !@available_finished_betas.empty?
              %tr
                %td 
                  .btn-group
                    %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                      Add finished beta 
                      %b.caret
                    %ul.dropdown-menu
                      - @available_finished_betas.each do |beta|
                        %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta)

    %tr
      %td.right.bold Street Address
    %tr
      %td.right.bold Adress 2
    %tr
      %td.right.bold Adress 3
    %tr
      %td.right.bold City
    %tr
      %td.right.bold Zip/Postal code
    %tr
      %td.right.bold Country
    %tr
      %td.right.bold State/Province
    %tr
      %td.right.bold Telephone
  -#.field
    = f.label :uid
    = f.text_field :uid
  .actions
    = f.submit 'Save', class: 'btn btn-success'
