%div{id: 'beta-participations'}
  %table{border: 1, width: "100%"}
    %tr
      %th Name
      %th List
      %th Downloads
      %th Support
      %th Status
      %th Note
      %th Action


    - @user.participations.each do |p|
      %tr
        %td.left
          = link_to p.beta.name, beta_path(p.beta)
        %td.center
          -# List subscription
          - if p.beta.list
            - if p.beta.list.users.include?(@user)
              subscribed
            - else
              .warning-red
                missing subscription
                - if @current_user.admin?
                  = link_to "Subscribe", list_subscribe_user_path(p.beta.list, user_id: @user.id), class: 'btn-small btn-warning'
          - else
            n.a. 
        %td.center
          -# Download
          - if p.download_status =~/missing/ 
            - if !@user.employee? 
              .warning-red
                = p.download_status
                - if @current_user.admin?
                  = link_to "Add", 'https://www.novell.com/beta/admin/GetAddCustomer.do?id=' + p.beta.novell_id, class: 'btn-small btn-success' 
            - else
              = p.download_status
              - if @current_user.admin?
                = link_to "Add", 'https://www.novell.com/beta/admin/GetAddCustomer.do?id=' + p.beta.novell_id, class: 'btn-small btn-success'
          - else
            available
        %td.center
          -# Support
          - if !p.support_req 
            - if !@user.employee?
              .warning-red
                missing
            - else
              missing
          -else
            requested
        %td.center= p.status_to_s
        %td
          = link_to(user_edit_participation_path(@user, participation_id: p)) do
            =p.note
        %td
          = link_to(beta_remove_user_path(p.beta, user_id: @user), data: { :confirm => 'Are you sure?'} ) do
            %i.icon-trash
          = link_to(user_edit_participation_path(@user, participation_id: p)) do
            %i.icon-pencil


