%div{id: 'beta-participations'}
  - if @user.participations.count > 0
    %table{border: 1, width: "100%"}
      %tr
        %th Name
        %th List
        %th Downloads
        %th Support
        %th Status
        %th Requester
        %th Note
        %th Action

      - @user.participations.each do |p|
        %tr
          %td.left
            = link_to p.beta.name, beta_path(p.beta)
          %td.center
            -# List subscription
            - if p.beta.list
              - if p.beta.list.users.include?(@user)
                subscribed
              - else
                -if p.active
                  missing subscription
                  - if @current_user.admin?
                    = link_to "Subscribe", list_subscribe_user_path(p.beta.list, user_id: @user.id), class: 'btn-small btn-warning'
                -else
                  .warning-red
                    missing subscription
                    - if @current_user.admin?
                      = link_to "Subscribe", list_subscribe_user_path(p.beta.list, user_id: @user.id), class: 'btn-small btn-warning'
            - else
              n.a. 
          %td.center
            -# Download
            - if p.download_status =~/missing/ 
              - if !@user.employee? 
                .warning-red
                  = p.download_status
                  - if @current_user.admin?
                    = link_to "Add", 'https://www.novell.com/beta/admin/GetAddCustomer.do?id=' + p.beta.novell_id, target: '_blank', class: 'btn-small btn-success' 
              - else
                = p.download_status
                - if @current_user.admin?
                  = link_to "Add", 'https://www.novell.com/beta/admin/GetAddCustomer.do?id=' + p.beta.novell_id, target: '_blank', class: 'btn-small btn-success'
            - else
              available
          %td.center
            -# Support
            - if !p.support_req 
              - if !@user.employee?
                .warning-red
                  missing
              - else
                missing
            -else
              requested
          %td.center= p.status_to_s
          %td.center
            - if p.participation_request
              = link_to p.participation_request.user.email, user_path(p.participation_request.user)
          %td
            = link_to(user_edit_participation_path(@user, participation_id: p)) do
              =p.note
          %td
            = link_to(user_remove_beta_path(@user, beta_id: p.beta), remote: true, :data => { :confirm => 'Are you sure?' } ) do
              %i.icon-trash
            - if p.status_to_s.eql? 'active'
              = link_to(user_toggle_participation_path(@user, participation_id: p)) do
                %i.icon-pause
            - else
              = link_to(user_toggle_participation_path(@user, participation_id: p)) do
                %i.icon-play
            = link_to(user_edit_participation_path(@user, participation_id: p)) do
              %i.icon-pencil


  - if @current_user.admin?
    %table
      %tr
        %td
        %td
          - if !@available_betas.empty?
            %tr
              %td 
                .btn-group
                  %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                    Add available beta
                    %b.caret
                  %ul.dropdown-menu
                    - @available_betas.each do |beta|
                      %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta), id: "add_beta_#{beta.id}", remote: true

          - if !@available_finished_betas.empty?
            %tr
              %td 
                .btn-group
                  %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                    Add finished beta 
                    %b.caret
                  %ul.dropdown-menu
                    - @available_finished_betas.each do |beta|
                      %li= link_to beta.name, user_add_beta_path(@user, beta_id: beta), id: "add_beta_#{beta.id}", remote: true
