%h4 Edit participation
= form_tag do 
  %table
    %tr
      %td.right.top.bold User
      %td=@user.full_name
    %tr
      %td.right.top.bold Beta
      %td=@participation.beta.name
    %tr
      %td.right.top.bold ID
      %td=@participation.id
    %tr 
      %td.right.top.bold Note
      %td
        = text_field_tag(:note_new, @participation.note)

    %tr
      %td.right.top.bold Active
      %td
        = check_box_tag(:active, @participation.active, @participation.active)
    %tr 
      %td.right.top.bold Support requested
      %td
        = check_box_tag(:support_req, @participation.support_req, @participation.support_req)
    %tr 
      %td.right.top.bold 
        = label_tag(:support_act, " Support active")
      %td
        = check_box_tag(:support_act, @participation.support_act, @participation.support_act)
  = submit_tag("Submit")
