%h4 Edit participation
= form_tag do 
  %table
    %tr
      %td.right.top.bold User
      %td=@user.full_name
    %tr
      %td.right.top.bold Beta
      %td=@participation.beta.name
    %tr
      %td.right.top.bold ID
      %td=@participation.id
    %tr
      %td.right.top.bold Created
      %td=@participation.created_at
    %tr
      %td.right.top.bold Email requester
      %td=text_field_tag :user_requester, @participation.participation_request.try(:user).try(:logname), data: {autocomplete_source: users_emails_path}  
    %tr 
      %td.right.top.bold Note
      %td
        = text_area_tag(:note_new, @participation.note, cols: 120, rows: 5)

    %tr
      %td.right.top.bold Active
      %td
        = check_box_tag(:active, @participation.active, @participation.active)
    %tr 
      %td.right.top.bold Support requested
      %td
        = check_box_tag(:support_req, @participation.support_req, @participation.support_req)
    %tr 
      %td.right.top.bold 
        = label_tag(:support_act, " Support active")
      %td
        = check_box_tag(:support_act, @participation.support_act, @participation.support_act)
  = submit_tag("Submit")
