%h1 Listing users

%table.table.table-bordered
  %tr
    %th Name
    %th Email
    %th Admin
    %th uid
    %th Betas
    %th Admin Actions


  - @users.each do |user|
    %tr
      %td= user.full_name
      %td= user.email
      %td= user.admin
      %td= user.uid
      %td= user.betas.count
      %td
        = link_to 'Show', user
        = link_to 'Edit', edit_user_path(user)
        = link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%i.icon-plus

= link_to 'Add new user', new_user_path
