%h1 Listing users

%table.table.table-bordered
  %tr
    %th Name
    %th Email
    %th Admin
    %th uids
    %th Betas
    - if @current_user.admin?
      %th Actions


  - @users.each do |user|
    %tr
      %td
        - if @current_user.admin?
          = link_to user.full_name, edit_user_path(user)
        - else
          = link_to user.full_name, user
      %td= mail_to user.email
      %td= user.admin
      %td= raw user.uids.join("<br />")
      %td= user.betas.count
      - if @current_user.admin?
        %td
        = link_to 'Show', user
        = link_to 'Edit', edit_user_path(user)
        = link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

- if @current_user.admin?
  %br
  %i.icon-plus
  = link_to 'Add new user', new_user_path
