%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Company:
  = @user.company
%p
  %b eLogin:
  = @user.elogin
%p
  %b Email IDL:
  = @user.email_idl
%p
  %b Admin:
  = @user.admin

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
