%h4
  = title
  = 'Beta'.pluralize(betas.count) + ':'
  

- if !betas || betas.count < 1
  %p None.
-elsif  
  %table.table.table-bordered
    %tr
      %th{:width => '30%'} Name
      %th{:width => '10%'} List
      %th Begin
      %th End
      - if @current_user.admin? || @current_user.employee?
        %th Participants
      - if @current_user.admin?
        %th Admin

    - betas.each do |beta|
      %tr
        %td= link_to(beta.name, beta ) 
        %td 
          - if beta.list
            = link_to(beta.list.name, list_path(beta.list))
        %td= beta.begin
        %td= beta.end
        - if @current_user.admin? || @current_user.employee?
          %td
            = link_to(beta_users_path(beta)) do
              =beta.users.count
              - if beta.users.count > 0
                %i.icon-eye-open
        - if @current_user.admin?
          %td
            = link_to(edit_beta_path(beta), :title => 'Edit') do
              %i{:class => ['icon-red', 'icon-pencil']}
            = link_to(beta, :title => 'Delete', :method => :delete, :data => { :confirm => 'Are you sure?' }) do
              %i.icon-trash
