- if type == 'available'
  %h4 Available beta tests:
  - @beta_list = @available_betas
- elsif type == 'active'
  %h4 Active beta tests:
  - @beta_list = @active_betas
- elsif type == 'planned' 
  %h4 Planned beta tests:
  - @beta_list = @planned_betas
- elsif type == 'finished'
  %h4 Finished beta tests:
  - @beta_list = @finished_betas
- else
  %h4 Beta tests:
  - @beta_list = @betas

- if @beta_list.empty?
  %p None.
-elsif  
  %table.table.table-bordered
    %tr
      %th{:width => '30%'} Name
      %th{:width => '10%'} List
      %th Begin
      %th End
      - if @current_user.admin? || @current_user.employee?
        %th Participants
      - if @current_user.admin?
        %th Admin

    - @beta_list.each do |beta|
      %tr
        %td= link_to(beta.name, beta ) 
        %td 
          - if beta.list
            = link_to(beta.list.name, list_path(beta.list))
        %td= beta.begin
        %td= beta.end
        - if @current_user.admin? || @current_user.employee?
          %td
            = link_to(beta_users_path(beta)) do
              =beta.users.count
              - if beta.users.count > 0
                %i.icon-eye-open
        - if @current_user.admin?
          %td
            = link_to(edit_beta_path(beta), :title => 'Edit') do
              %i{:class => ['icon-red', 'icon-pencil']}
            = link_to(beta, :title => 'Delete', :method => :delete, :data => { :confirm => 'Are you sure?' }) do
              %i.icon-trash
