= form_for([:admin, @milestone]) do |f|
  - if @milestone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@milestone.errors.count, "error")} prohibited this milestone from being saved:"
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg

  %table{width: "100%"}
    %tr
      %th{width: "20%"}
      %th{width: "80%"}
    %tr
      %td.right.bold.top
        Name
      %td
        = f.text_field :name, width: 580

    %tr
      %td.right.bold.top
        Date
      %td
        -#= f.date_select :date
        = f.text_field :date

    %tr
      %td.right.bold.top
        Public comment
      %td
        = f.text_area(:comment, cols: 80, rows: 5)

    %tr
      %td.right.bold.top{width: "800px"}
        Public URL
      %td
        = f.text_field(:url, size: 180)

    %tr
      %td.right.bold.top
        Internal comment
      %td
        = f.text_area(:comment_internal, cols: 80, rows: 5)

    %tr
      %td.right.bold.top
        Betas
      %td
        %table
          - @milestone.betas.each do |beta|
            %tr
              %td
                = link_to beta.name, beta
                = link_to(remove_beta_admin_milestone_path(@milestone, beta_id: beta) ) do
                  %i.icon-trash
          - if !@available_betas.empty?
            %tr
              %td 
                .btn-group
                  %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                    Add available beta
                    %b.caret
                  %ul.dropdown-menu
                    - @available_betas.each do |beta|
                      %li
                        = link_to beta.name, add_beta_admin_milestone_path(@milestone, beta_id: beta)

          - if !@available_finished_betas.empty?
            %tr
              %td 
                .btn-group
                  %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
                    Add finished beta 
                    %b.caret
                  %ul.dropdown-menu
                    - @available_finished_betas.each do |beta|
                      %li= link_to beta.name, add_beta_admin_milestone_path(@milestone, beta_id: beta)

      %td
        %table
          %tr
            %td
              -#= collection_select(:user, :company_id, Company.all, :id, :name )
          %tr
            %td 
              -#= link_to 'Add company', new_company_path, class: 'btn btn-mini'  
  .actions
    = f.submit 'Save', class: 'btn btn-success'


