%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "SUSE Betaman", root_path, id: "logo" 
      %nav
      %ul.nav.pull-right
        %li.xheader
          =link_to help_path do
            Help
        - unless @current_user
          %li
            = link_to(:controller => "account", :action => "login") do
              Login
        - if @current_user
          %li
            = link_to "Dashboard", dashboard_path
          %li
            = link_to "Betas", betas_path
          %li
            = link_to "Users", users_path
          %li
            = link_to(:controller => "account", :action => "logout") do
              Log out
              = @current_user.full_name

