%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .div{ id: 'logo'} 
        =link_to root_path do
          SUSE Betaman 
      %nav
      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :id => "user-dropdown"}
            Help
            %b.caret
          %ul.dropdown-menu
            %li 
              = link_to "Novell Innerweb WIKI", 'https://wiki.innerweb.novell.com/index.php/SUSE_Beta_Test_Programs'
            %li
              -#= link_to help_path do
                Help
        - unless @current_user
          %li= link_to "Betas", betas_path
          %li
            = link_to(:controller => "session", :action => "login") do
              Login
        - if @current_user
          %li
            = link_to "Dashboard", dashboard_path
            - if @current_user.employee?
              %li= link_to "Betas", betas_path
              %li= link_to "Users", users_path
              %li= link_to "Lists", lists_path
              %li= link_to "Companies", companies_path
          - if @current_user.admin?
            %li= link_to "Groups", admin_groups_path
            %li= link_to "Admin", admin_path

          %ul.nav.navbar-nav.navbar-right.hidden-xs
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :id => "user-dropdown"}
                = @current_user.full_name
                %b.caret
              %ul.dropdown-menu
                %li 
                  = link_to edit_user_path(@current_user)  do
                    %i.icon-home
                    Edit my profile
                %li 
                  = link_to(:controller => "/session", :action => "logout") do
                    %i.icon-off
                    Log out 

