%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .div{ id: 'logo'} SUSE Betaman 
      %nav
      %ul.nav.pull-right
        %li
          =link_to help_path do
            Help
        - unless @current_user
          %li
            = link_to(:controller => "session", :action => "login") do
              Login
        - if @current_user
          %li
            = link_to "Dashboard", dashboard_path
          %li
            = link_to "Betas", betas_path
          %li
            = link_to "Users", users_path
          - if @current_user.admin?
            %li 
              = link_to "Admin", admin_path
          %li
            = link_to(:controller => "session", :action => "logout") do
              Log out
              = @current_user.full_name

