%h1 Beta tests

%table.table.table-bordered
  %tr
    %th Name
    %th Begin
    %th End
    %th Users
    %th Actions

  - @betas.each do |beta|
    %tr
      %td= beta.name
      %td= beta.begin
      %td= beta.end
      %td= beta.users.count
      %td
        = link_to(beta, :title => 'Info') do
          %i.icon-info-sign
        - if @current_user.admin?
          = link_to(beta_path(beta), :title => 'Edit') do
            %i{:class => ['icon-red', 'icon-pencil']}
          = link_to(beta, :title => 'Delete', :method => :delete, :data => { :confirm => 'Are you sure?' }) do
            %i.icon-trash

%br

= link_to(new_beta_path) do
  %i.icon-plus
  Add new beta test
