=link_to "Beta: #{@beta.name}", beta_path(@beta), class: 'btn'

%p
%div{ class: 'btn-group'}
  - if @current_user.admin?
    = link_to 'Edit', edit_beta_path(@beta),  class: 'btn-info btn-mini' 
    = link_to 'Add participants', beta_add_select_users_path,  class: 'btn-info btn-mini' 
    = link_to('Delete beta', @beta, :method => :delete, :confirm => 'Are you sure?', class: 'btn-danger btn-mini' ) 

  - if !@beta.users.include?(@current_user)
    = link_to 'Join', beta_join_path(@beta), class: 'btn-success btn-mini' 
  - else
    = link_to 'Leave', beta_leave_path(@beta), class: 'btn-warning btn-mini' 
%br

%table{width: "100%"}
  %tr
    %td.right.bold.top
      Time:
    %td
      = @beta.begin 
      to
      = @beta.end

  %tr
    %td.right.bold.top Downloads:
    %td
      %table
        - if !@beta.downloadLocationExt.blank?
          %tr
            %td
              = link_to("#{@beta.downloadLocationExt} (external)", @beta.downloadLocationExt)
        - if !@beta.downloadLocationInt.blank?
          %tr
            %td
              = link_to("#{@beta.downloadLocationInt} (internal)", @beta.downloadLocationInt)

  %tr
    %td.right.bold.top Ressource URLs:
    %td
      - if @beta.urls.empty?
        \-
      - else
        %table
          - @beta.urls.each do |url|
            %tr
              %td
                - if url.internal
                  - hint = '(internal)'
                - else
                  - hint = '(external)'
                = link_to( "#{url.comment} #{hint}", url.url )

  %tr
    %td.right.bold.top Participants:
    %td
      %table
        %tr
          %td.right= link_to "#{@users.count}", beta_users_path(@beta)
          %td= link_to "total", beta_users_path(@beta)
        %tr
          %td= link_to @users.external.count, beta_users_external_path(@beta)
          %td= link_to "external".pluralize(@users.external.count), beta_users_external_path(@beta)
        %tr
          %td.right= @users.employees.count
          %td= "employee".pluralize(@users.employees.count)
        %tr
          %td.right= @users.admins.count
          %td= "admin".pluralize(@users.admins.count)
  -#%tr
    %td
    %td
      = "#{pluralize(@users.testers.count, 'tester')}"

  %tr
    %td.right.bold.top
      Mailing list:
    %td
      - if @beta.list
        = link_to @beta.list.name, list_path(@beta.list)
      - else
        None.

  %tr
    %td.right.bold.top
      Milestones:
    %td
      - if @milestones.empty?
        None.
      - else  
        %table
          - @milestones.each do |milestone|
            %tr
              - if @current_user.admin?
                %td
                  %b
                    = link_to "#{milestone.date.to_s}: ", edit_admin_milestone_path(milestone) 
                %td
                  %b= link_to milestone.name, edit_admin_milestone_path(milestone)
              - else  
                %td{style: "white-space:nowrap" }
                  %b= "#{milestone.date.to_s}: "
                %td
                  %b= milestone.name

            -if !milestone.url.blank?
              %tr
                %td
                %td= link_to milestone.url, milestone.url
            - if !milestone.comment.empty?
              %tr
                %td
                %td
                  %pre= milestone.comment
            -if @current_user.employee? && !milestone.comment_internal.blank?
              %tr
                %td
                %td
                  .confidential
                    %pre= milestone.comment_internal
                %td.left.bold.top 
                  .confidential
                    Confidential!
        - if @current_user.employee?
          %tr
            %td
            %td
              <input id="toggle-confidential" type="button" value="Toggle confidential details" />

    :javascript
      $(document).ready(function() {
        $('.confidential').hide();
        $("#toggle-confidential").click(function() {
          $(".confidential").toggle("normal");
        });
      });


