=link_to "#{@beta.name}", beta_path(@beta), class: 'btn'

%table
  %tr
    %td.right.bold.top
      Time:
    %td
      = @beta.begin 
      to
      = @beta.end

  %tr
    %td.right.bold.top
      Participants:
    %td
      = "#{@users.count} total, #{pluralize(@users.admins.count, 'admin')}, "
      = "#{pluralize(@users.employees.count, 'employee')}, "
      = "#{pluralize(@users.testers.count, 'tester')}"

  %tr
    %td.right.bold.top
      Mailing list:
    %td
      -if @beta.list
        = link_to @beta.list.name, list_path(@beta.list)
        = link_to(beta_remove_list_path(@beta)) do
          %i.icon-trash
      -else
        .btn-group
          %a{:class => "btn btn-mini dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
            Add list
            %b.caret
          %ul.dropdown-menu
            - List.all.each do |list|
              %li= link_to list.name, beta_add_list_path(@beta, list_id: list.id)


%div{ class: 'btn-group'}
  = if @current_user.admin?
    = link_to 'Edit', edit_beta_path(@beta),  class: 'btn btn-danger' 
  = if @current_user.employee?
    = link_to 'Show participants', beta_users_path(@beta), class: 'btn btn-info' 
    = link_to 'Add participants', beta_add_select_users_path,  class: 'btn btn-info' 
  - if !@beta.users.include?(@current_user)
    = link_to 'Join', beta_add_user_path(@beta, user_id: @current_user), class: 'btn btn-success' 

